@import "./config.scss";

@media (max-width: 1000px) {
  .card {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    .left {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

@media (max-width: 550px) {

  html {
    background-color: $white;
  }
  body {
    align-items: flex-start;
  }

  .card {
    flex-direction: column-reverse;

    border-radius: 0;
    gap: 0;
    width: 100vw;
    height: 100%;
    margin: 0;
    padding: 0 0 20px;
    .right {
      gap: 30px;
      padding: 0;
      margin: 0;
      justify-content: center;
      align-items: flex-start;
      width: 90vw;

      .input {
        width: 90vw !important;
      }
    }
    .left {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
      align-items: center;
      .mobile-illustration {
        width: 100%;
      }
    }
  }

  .thankyou-card {
    box-sizing: border-box;
    width: 100vw;
    justify-content: center;
    align-items: flex-start;
    margin-top: 10vh;
    padding: 20px 20px;
    .button {
      display: none;
    }
    .success-icon {
      display: flex;
      justify-content: flex-start;
      align-content: flex-start;
    }
  }
}